@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Exo 2:wght@500&display=swap");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* White start */
  --background-end-rgb: 0, 0, 0; /* Black */
}

@media (prefers-color-scheme: dark) {
  :root {
    color: black;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255; /* White start */
    --background-end-rgb: 0, 0, 0; /* Black */
  }
}

body {
  font-family: "Exo 2", sans-serif;
  color: black;
  background: linear-gradient(
    to right,
    black 0%,
    gray 2%,
    white 45%,
    white 55%,
    gray 98%,
    black 100%
  );
}

.dataBorder {
  font-size: 10px;
  font-family: "Exo 2", sans-serif;
  border-color: black;
  border-radius: 2px;
  border-width: 2px;
  padding: 30px;
  border-style: solid;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 300px;
  word-wrap: break-word;
}

.dataDivHigh {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
  border-color: red;
  border-radius: 2px;
  border-width: 2px;
  
}

.dataDivMedium {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
  border-color: yellow;
  border-radius: 2px;
  border-width: 2px;
  
}

.dataDivLow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
  border-color: green;
  border-radius: 2px;
  border-width: 2px;
  
}

.logoutBorder {
  font-size: 10px;
  font-family: "Exo 2", sans-serif;
  border-color: black;
  border-radius: 2px;
  border-width: 2px;
  padding: 10px;
  border-style: solid;
  width: fit-content;
}

.logoutDiv,
.tasksBorder {
  justify-content: center;
  display: flex;
  padding-top: 20px;
}

.tasksText {
  font-family: "Exo 2", sans-serif;
  font-size: 30px;
}

.mainDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.inputWidth {
  width: 100px;
}

.textBox {
  display: flex;
  justify-content: center;
}

.submitButton {
  font-size: 10px;
  font-family: "Exo 2", sans-serif;
  border-color: black;
  border-radius: 2px;
  border-width: 2px;
  padding: 10px;
  border-style: solid;
  width: fit-content;
}

.submitDiv {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.dataSize {
  font-size: 15px;
}